:root{
    --vermelho:#E50914;
    --preta:rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/*elementos base*/
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
}


header .logo{
    color: var(--vermelho);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
}

header nav a:hover{
    color:#fff;
    transition: .5s ease all;
}

/*filme principal*/

.filme-principal{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('/img/banner.jpg');
    background-size:cover;
    height: 50ex;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 13px;
    min-width: 300px;
    max-width: 400px;
}

.filme-principal .titulo{
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.filme-principal .container .generos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
    border: none;

    font-size: 12px;
    padding-top: 10px;
}

.filme-principal .container .generos .genero{
    background-color: rgba(0,0,0,.50);
    margin-right: 15px;
    padding: 5px;
}

.filme-principal .container .generos .genero:hover{ /* sempre que passar o mouse por icma do botao ele vai executar uma alteração */
    background-color: white;
    color: black;

    cursor: pointer; /*  sempre que passarem o mouse por cima do botao, ele vai mudar o cursos para ponteiro */
    transition: .5s ease all; /* cria a transição entre uma animação e outra */
}

.box-filme{
    width: 40px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer; /*  sempre que passarem o mouse por cima do botao, ele vai mudar o cursos para ponteiro */
    transition: .5s ease all; /* cria a transição entre uma animação e outra */
}
.botao i{
    margin-right: 8px;
}

.botao:hover{ /* sempre que passar o mouse por icma do botao ele vai executar uma alteração */
    background-color: white;
    color: black;
}

.container nav {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .titulo{
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;

    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50));

    height:40px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    background-size:cover;
    text-align: center;

}

.carrosel-filmes .titulo{
    align-items: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: black;

    background-size:cover;
    padding: 5px 5px 5px 5px;
}
.item p{
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.owl-item :hover{
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 3px;
    cursor: pointer; /*  sempre que passarem o mouse por cima do botao, ele vai mudar o cursos para ponteiro */
    transition: .3s ease all; /* cria a transição entre uma animação e outra */
}
footer.links {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer.links a{
    font-size: 11px;
    color: #fff;
}
